@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #727183 #E3E3E3;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
    height: 53px;
    width: 3px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
    background: #E3E3E3;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background-color: #727183;
    border-radius: 5px;
}

html {
    font-family: sans-serif;
    line-height: 1.15;

    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.like-wrap {
    margin-top: 20px;
    margin-left: 20px;
    width: fit-content;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222;
    background: #fff;
}

.like-icon {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.like-icon .icon {
    width: 1rem;
    height: 1rem;
}

.like-icon:hover {
    fill: green;
}

.dislike {
    margin-left: 25px;
}

.dislike .icon {
    width: 1rem;
    height: 1rem;
}

.dislike:hover {
    fill: red;
}

.like-wrap .like-icon span {
    margin-left: 15px;
    display: flex;
    align-items: flex-end;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
}


.show-wrap {
    margin-top: 20px;
    margin-left: 20px;
    width: fit-content;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222;
    background: #fff;
}

.show-icon {
    display: inline-flex;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.show-icon .icon {
    width: 1rem;
    height: 1rem;
}

.show-icon span {
    margin-left: 15px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
}

.raiting-icon {
    display: inline-flex;
    align-items: center;
}

.raiting-icon .icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}


.form {
    margin: 10px 10px;
}

.form-wrapper {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222;
    background: #fff;
    margin: 0 20px;
}

.form .s-review-title {
    margin: 10px 5px;
}

.form .form-group {
    margin: 10px 5px;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}

.form-group .icon {
    width: 2rem;
    height: 2rem;
    fill: #222;
}

.form-group .form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #222;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.form-group .form-control::-webkit-input-placeholder {
    color: #888;
}

.form-group .form-control:-moz-placeholder {
    color: #888;
}

.form-group .form-control::-moz-placeholder {
    color: #888;
}

.form-group .form-control:-ms-input-placeholder {
    color: #888;
}

.form-group .form-control:focus {
    color: #000;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    outline: 0;

    -webkit-box-shadow: 0 0 21px #ececec;
    box-shadow: 0 0 21px #ececec;
}

.form-group textarea {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
}

.form-group textarea.form-control {
    height: auto;
}

.form-group .form-control-settings {
    position: absolute;
    display: inline-flex;
    bottom: 8px;
    right: 22px;
    z-index: 3;
}

.form-control-settings .icon {
    margin-left: 10px;
}

.entry {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 15px;
}

.entry-label {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #111;
    display: block;
    margin-bottom: 8px;
}

.social-item .social-link {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    border-radius: 50%;
    background: #ababab;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    cursor: pointer;

}

.social-item:hover {
    transition: .2s all ease-in;
    transform: scale(1.2);
}

.social-item:hover [data-icon="odnoklassniki"] {
    color: goldenrod;
}

.social-item:hover [data-icon="facebook-f"] {
    color: blue;
}

.social-item:hover [data-icon="vk"] {
    color: rgb(0, 191, 255);
}

.social-item:hover [data-icon="google-plus-g"] {
    color: red;
}

.social-item:hover [data-icon="yandex"] {
    color: red;
}

ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

ul li:not(:first-child) {
    padding-left: 10px;
}

.guest-wrap {
    width: 60%;
}

.f-wrap {
    display: flex;
    width: 100%;
}

.form-group.form-email {
    margin-left: 10px;
    width: 49%;
}

.form-group.form-name {
    width: 49%;
}

.btn-wrap {
    margin-top: 15px;
    text-align: right;
}

.btn {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    height: 36px;
    border: 1px solid;
    border-radius: 18px;
    min-width: 160px;
    padding: 2px 18px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}

.btn-primary {
    color: #fff;
    border: solid 1px #00b9ee;
    background-color: #00b9ee;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    background-color: #018bb2;
    border-color: #018bb2;
}

.message-wrap {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    max-height: 300px;
    overflow-y: scroll;

}

.btn-wrap-next {
    margin-top: 15px;
}

.btn-outline-secondary {
    color: #888;
    background-color: #fff;
    border-color: #c8c8c8;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.mess-item-wrap {
    width: 100%;
    height: auto;
}
.mess-item-wrap:not(:first-child) {
    margin-top: 20px;
}

.mess-item {
    display: flex;
}

.mess-item-icon {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.fa-user-circle {
    color: cornflowerblue;
}

.mess-social-item .social-link {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    border-radius: 50%;
    background: #ffae00;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 12px;
    cursor: pointer;

}

.mess-item-icon .mess-social-item {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.data-message-wrap {
    margin-left: 15px;
    width: 100%;
}
#name-user {
    font-weight: bold;
    height: fit-content;
}

#name-user span {
    margin-left: 10px;
    font-weight: normal;
    font-size: 0.6rem;
    opacity: 0.6;
}

#name-user::after {
    content: '';
    width: 100%;
    order: 0;
}

.mess-body {
    word-break: break-all;
    height: 70px;
    overflow-y: scroll;
    padding-right: 40px;
    user-select: none;
}

.reply-message-wrap{
    height: 30px;
    margin-top: 20px;
    margin-left: 79px;
    display: flex;

}
.reply-message-icon{
    cursor: pointer;
}
.reply-message-icon:not(:first-child){
    margin-left: 3em;
}
.reply-message-icon span{
    margin-left: 0.5em;
}
.footer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

}

hr {
    width: 100%;
    margin-top: 50px;
}

.mess-item hr {
    width: 100%;
    margin-top: 10px;
}

@media (max-width: 500px) {

    .guest-wrap {
        width: 100%;
    }

    .btn-wrap {
        margin-top: 15px;
        width: 100%;
        min-width: 250px;
    }

    .btn {
        width: 100%;
    }

    .f-wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .form-group.form-name {
        min-width: 150px;
        width: 100%;
    }

    .form-group.form-email {
        width: 100%;
        margin: 0;
        margin-top: 15px;
        min-width: 150px;
    }

    .data-message-wrap {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .mess-item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .reply-message-wrap{
        margin: 0;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: flex-start;
    }
}

@media (max-width: 400px) {
    .footer {
        justify-content: center;
    }

    .footer img {
        margin-top: 20px;
    }
}